html, body, p {
    color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

h1 {
	color: #000000;
    font-family: 'Raleway';
    font-size: 3.5em;
}

h2, h3 {
	font-family: 'Source Serif Pro';
}

h2 {
    color: #222222;
	font-size: 2.5em;
}

h3 {
    color: #444444;
	font-size: 1.5em;
}

.row {
	margin: 0;
}

.inner {
	display: block;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	padding-top: 3em;
	text-align: center;
}

.about {
	padding-bottom: 5%;
	text-align: center;
}

/*.image-circle-logo {
	height: 90px;
	padding: 0;
	max-width: 95%;
	display: inline-block;
	margin: 0 !important;
}*/

.cover {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url('images/cover.jpg') no-repeat center center fixed; 
	background: linear-gradient();
	height: 100vh;
	width: 100vw;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*.bubble-left {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 90px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #222 solid 5px;
}

.bubble-left:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 20px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 30px;
}

.bubble-left:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 19px 24px 19px 0;
	border-color: transparent #222;
	display: block;
	width: 0;
	z-index: 0;
	left: -29px;
	top: 26px;
}

.bubble-right {
	position: relative;
	width: 300px;
	height: 90px;
	padding: 0px;
	margin: 0;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #222 solid 5px;
}

.bubble-right:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 20px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -20px;
	top: 30px;
}

.bubble-right:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 19px 0 19px 24px;
	border-color: transparent #222;
	display: block;
	width: 0;
	z-index: 0;
	right: -29px;
	top: 26px;
}*/

.cover-divider {
	height: 15em;
}

@media screen and (max-height: 700px) {
	.cover-divider {
		height: 7.5em;
	}
}

.cover-heading {
	color: #FFF;
	font-family: "Source Sans Pro";
	font-size: 6em;
	font-weight: 100;
}

.cover-link {
	border-radius: 15px;
	border: 1px solid #FFF;
	color: #FFF;
	font-family: 'Source Sans Pro';
	font-size: 1.5em;
	font-weight: 500;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-decoration: none !important;
}

.cover-link:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
	transition: 0.3s background-color;
}



.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
