html, body, p {
    color: black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

h1 {
	color: #000000;
    font-family: 'Raleway';
    font-size: 3.5em;
}

h2, h3 {
	font-family: 'Source Serif Pro';
}

h2 {
    color: #222222;
	font-size: 2.5em;
}

h3 {
    color: #444444;
	font-size: 1.5em;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
    width: 90%;
}

th, td {
	padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5}

.row {
	margin: 0;
}

.inner {
	display: block;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
    padding: 0;
	padding-top: 3em;
	text-align: center;
}

.about {
	padding-bottom: 5%;
	text-align: center;
}

/*.image-circle-logo {
	height: 90px;
	padding: 0;
	max-width: 95%;
	display: inline-block;
	margin: 0 !important;
}*/

.cover {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url('images/cover.jpg') no-repeat center center fixed; 
	background: linear-gradient();
	height: 100vh;
    overflow: hidden;
	width: 100vw;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*.bubble-left {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 90px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #222 solid 5px;
}

.bubble-left:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 20px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 30px;
}

.bubble-left:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 19px 24px 19px 0;
	border-color: transparent #222;
	display: block;
	width: 0;
	z-index: 0;
	left: -29px;
	top: 26px;
}

.bubble-right {
	position: relative;
	width: 300px;
	height: 90px;
	padding: 0px;
	margin: 0;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #222 solid 5px;
}

.bubble-right:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 20px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -20px;
	top: 30px;
}

.bubble-right:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 19px 0 19px 24px;
	border-color: transparent #222;
	display: block;
	width: 0;
	z-index: 0;
	right: -29px;
	top: 26px;
}*/

.cover-divider {
	height: 15em;
}

@media screen and (max-height: 700px) {
	.cover-divider {
		height: 7.5em;
	}
}

.cover-heading {
	color: #FFF;
	font-family: "Source Sans Pro";
	font-size: 6em;
	font-weight: 100;
}

.cover-heading-dark {
	text-align: center;
	color: #000;
	font-family: "Source Sans Pro";
	font-size: 6em;
	font-weight: 100;
}

.cover-link {
	border-radius: 15px;
	border: 1px solid #FFF;
	color: #FFF;
	font-family: 'Source Sans Pro';
	font-size: 1.5em;
	font-weight: 500;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-decoration: none !important;
}

.back-button {
	position: absolute;
	left: 1%;
	top: 1.5%;
	color: #3C4858;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.back-button {
		position: static;
	}
	.cover-heading-dark {
		margin-top: 0px;
	}
}

.back-button:hover {
	color: #3C4858;
	opacity: 0.5;
}

.cover-link-dark {
	border-radius: 15px;
	border: 1px solid black;
	color: black;
	font-family: 'Source Sans Pro';
	font-size: 1.5em;
	font-weight: 500;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	text-decoration: none !important;
}

.cover-link:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
	transition: 0.3s background-color;
}

.cover-link-dark:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	transition: 0.3s background-color;
}

.contentForm {
	text-align: center;
}

.formInput {
	text-align: left;
	width: 30%;
	height: 2em;
	border: none;
	border-bottom: 2px solid #3C4858;
}

.formInput:focus {
	height: 3em;
	width: 30%;
	outline: none;
	transition: 0.3s border-bottom;
	border-bottom: 3px solid rgba(60, 72, 87, 0.75);
}

@media screen and (max-width: 768px) {
	.formInput {
		width: 90%;
	}
}

::-webkit-input-placeholder { /* Chrome */
	color: #3C4858;
}
:focus::-webkit-input-placeholder {
	transition: 0.3s opacity;
	opacity: 0.9;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #3C4858;
}
:focus:-ms-input-placeholder {
	transition: 0.3s opacity;
	opacity: 0.9;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #3C4858;
	opacity: 1;
}
:focus::-moz-placeholder {
	transition: 0.3s opacity;
	opacity: 0.9;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #3C4858;
	opacity: 1;
}
:focus:-moz-placeholder {
	transition: 0.3s opacity;
	opacity: 0.9;
}

#submitData {
	width: 20%;
	height: 2.75em !important;
	max-height: 3em;
	border: 2px solid transparent;
	font-size: 1.25em;
	border-radius: 25px;
	margin: 2.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	text-decoration: none !important;
	background-color: #3C4858;
	color: #FFFFFF;
	text-align: center;
}

#submitData:hover {
	transition: 0.3s border;
	border: 2px solid #3C4858;
	transition: 0.3s color;
	color: #3C4858;
	background-color: #FFF;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

@media screen and (max-width: 768px) {
	#submitData {
		width: 50%;
	}
}

.contentData {
	width: 100%;
	padding: 5%;
}

@media screen and (max-width: 768px) {
    .cardDiv {
    	margin-bottom: 7.5%;
    }
}

.cardDiv {
	height: 5%;
	padding: 0;
	margin: 0 auto;
	margin-top: 5%;
}

.cardImage {
	width: 100%;
	height: 50%;
}

.cardList {
	text-align: justify;
	padding-top: 7.5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 7.5%;
	list-style-type: none;
}

.cardList > li {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	text-align: center;
	text-transform: capitalize;
}

.cardList > li > b {
	font-family: 'Source Sans Pro';
	font-weight: bold;
	color: #3C4858;
}

.cardLink {
	border: 2px solid transparent;
	font-size: 1.25em;
	border-radius: 25px;
	margin: 5%;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	text-decoration: none !important;
	background-color: #3C4858;
	color: #FFFFFF;
	text-align: center;
}

.cardLink:hover {
	transition: 0.3s border;
	border: 2px solid #3C4858;
	transition: 0.3s color;
	color: #3C4858;
	background-color: #FFF;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.pet-info {
	list-style-type: none;
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
