{% extends "base.html" %}
{% block title %}Confirm Your Information{% endblock %}
{% block content %}
<div class="page-panel">
  <a href={{ back }} class="back-button"><i class="fa fa-arrow-left fa-4x"></i></a>
  <a href="/" class="home-button"><i class="fa fa-home fa-4x"></i></a>
        <h1 class="cover-heading-dark" style="font-size: 4em">Confirm Your Information</h1><br>
        <p style="text-align: center">Take time to look over the information you entered, and give people a way to contact you if {% if back == "/lost/" %}they may have found your pet. {% else %}they think you may have their pet.{% endif %}</p><br><br>
  <div class="contentForm filled-contentForm">
    <form id="formData" action="/add{{hidden}}/" method="POST" enctype=multipart/form-data>
      <b>Name: </b><input type="text" name="petName" id="petName" value="{{data['petName']}}" class="formInput"></input><br><br>
      <b>Location: </b><input type="text" name="location" id="location" class="formInput" value="{{data['location']}}"></input><br><br>
      <b>Date {{hidden}}: </b><input type="text" name="dateLost" id="dateLost" class="formInput" value="{{data['dateLost']}}"></input><br><br>
      <b>Color: </b><input type="text" name="color" id="color" class="formInput" value="{{data['color']}}"></input><br><br>
      <b>Eye Color: </b><input type="text" name="eyeColor" id="eyeColor" class="formInput" value="{{data['eyeColor']}}"></input><br><br>
      <b>Species: </b><input type="text" name="petType" id="petType" class="formInput" value="{{data['petType']}}"></input><br><br>
      <div class="form-hr"><hr></div>
      <h1 class="cover-heading-dark" style="font-size: 4em">Additional Details</h1><br>
      <input type="text" name="name" id="name" placeholder="Your Name" class="formInput" required></input><br><br>
      <input type="email" name="email" id="email" placeholder="Your Email" class="formInput" required></input><br><br>
      <input type="email" name="confirmEmail" id="confirmEmail" placeholder="Confirm Your Email" class="formInput" required></input><br><br>
      <input type="text" name="description" id="description" placeholder="Additional Description" class="formInput"></input><br><br>
      <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
      <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Upload an Image of the Pet&hellip;</span></label>
      <input type="hidden" value="" name="imgURL" id="imgURL"></input><br>
      <input type="submit" id="submitData" class="formInput"></input><br>
    </form>
  </div>
</div>
{% endblock %}
{% block jsFiles %}
<script src="../static/confirm.js"></script>
<script src="../static/custom-file-input.js"></script>
{% endblock %}
