{% extends "base.html" %}
{% block title %}Found A Pet{% endblock %}
{% block content %}
<div class="page-panel">
  <div class="contentForm">
    <p>Fill out form to narrow results</p>
    <form id="formData" action="submitFound" method="POST">
      <b>Pet Name:</b><input type="text" name="petName" id="petName" class="formInput"></input>
      <b>Where:</b><input type="text" name="location" id="location" class="formInput"></input>
      <b>Date Found:</b><input type="date" name="date" id="date" class="formInput"></input>
      <b>Color:</b><input type="text" name="color" id="color" class="formInput"></input>
      <b>Eye Color:</b><input type="text" name="eyeColor" id="eyeColor" class="formInput"></input>
      <b>Type of Pet:</b><input type="text" name="petType" id="petType" class="formInput"></input>
    </form>
  </div>
  <div class="contentData">
    {{ data }}
  </div>  
</div>
{% endblock %}
{% block jsFiles %}
<script src="static/found.js"></script>
{% endblock %}
