{% extends "base.html" %}
{% block title %}Found A Pet{% endblock %}
{% block content %}
    <div class="page-panel">
        <a href="/" class="back-button"><i class="fa fa-arrow-left fa-4x"></i></a>
        <h1 class="cover-heading-dark">Found a Pet</h1><br>
        <p style="text-align: center">Let us help you get that pet back home. This form will update as you enter information.</p><br><br>
        <div class="contentForm">
            <form id="formData" action="/submitFound/" method="POST">
                <input type="text" name="petName" id="petName" placeholder="What is the name of the pet?" class="formInput"></input><br><br>
                <input type="text" name="location" id="location" placeholder="Where did you find the pet?" class="formInput"></input><br><br>
                <input type="date" style="color: #3C4858" name="dateLost" id="dateLost" placeholder="When did you find the pet?" class="formInput"></input><br><br>
                <input type="text" name="color" id="color" placeholder="What color is the pet?" class="formInput"></input><br><br>
                <input type="text" name="eyeColor" id="eyeColor" placeholder="What is the eye color of the pet?" class="formInput"></input><br><br>
                <input type="text" name="petType" id="petType" placeholder="What species is the pet?" class="formInput"></input><br><br>
                <input type="submit" id="submitData" class="formInput"></input><br>
            </form>
        </div>
        <div class="form-hr"><hr></div>
        <div class="contentData row" style="padding-top: 0">
            {% for d in data %}
                <div class="dataObject cardDiv drop-shadow col-sm-3">
                    <img class="cardImage" src="../{{d['img']}}" alt="IMAGE NOT FOUND" onerror="this.onerror=null;this.src='../static/images/placeholder.png';">
                    <ul class="cardList">
                        <li><b>Pet Name: </b>{{d['petName']}}</li>
                        <li><b>Type of Pet: </b>{{d['petType']}}</li>
                        <li><b>Color: </b>{{d['color']}}</li>
                        <li><b>Eye Color: </b>{{d['eyeColor']}}</li>
                        <li><b>Date Found: </b>{{d['dateLost']}}</li>
                        <li><b>Where: </b>{{d['location']}}</li><br>
                        <li><a class="cardLink" href="/pet/{{d['petID']}}">Sounds Like your Pet?</a></li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block jsFiles %}
<script src="../static/found.js"></script> 
{% endblock %}
